html, body{
    margin: 0;
    padding: 0;
    border: 0;
}
canvas{
    position: absolute;
}
.slider-button{
    position: absolute;
    top: 50%;
    z-index: 1;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
.gallery-3d__slide{
    opacity: 0;
    transition: opacity .5s;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: .8em;
    max-width: 10em;
}
.gallery-3d__slide.active{
    opacity: 1;
}
.gallery-3d__slide .gallery-3d__slide-title{
    text-transform: uppercase;
}
.gallery-3d__slide .gallery-3d__slide-btn{
    background-color: #ff3b7e;
    border: .1em solid #ff3b7e;
    box-shadow: 0px 0px 15px 2px #ff3b7e;
    color: white;
    transition: background-color .5s, color .5s;
    /* text-transform: uppercase; */
    font-size: .5em;
    text-decoration: none;
    padding: .7em 2em;
}
.gallery-3d__slide .gallery-3d__slide-btn:hover{
    background-color: black;
    color: white;
}

.gallery-3d__slide .gallery-3d__slide-subtitle, .gallery-3d__slide .gallery-3d__slide-content{
    font-size: .7em;
}
.gallery-3d__slide .gallery-3d__slide-subtitle, .gallery-3d__slide .gallery-3d__slide-content, .gallery-3d__slide .gallery-3d__slide-btn-wrapper{
    margin: .5em 0 0 0;
}