.slider-button{
    position: absolute;
    top: 50%;
    z-index: 1;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
.text{
    opacity: 0;
    transition: opacity .5s;
}
.text.active{
    opacity: 1;
}